  /* * 213159 navy
  * 3d6098 blue
  * f04b4c red
  * e7e7e7 creme */

* {
  box-sizing: border-box;
  font-size: 48px;
  font-family: Tahoma, sans-serif;
  touch-action: manipulation; /* Disables double-tap zoom */
  
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  /* width: 800px; */
  min-height:100%;
  background:url("../shared/2019LaCrosse.jpeg");
  background-size:cover;
  box-shadow:inset 0 0 0 2000px #000000D0;
}

*:not(input, select, option) {
  vertical-align: center;
}


option {
  font-size: 18px;
}

form {
  margin: 10px 0;
  border-radius: 5px;
  background-color: #00000000;
}

div {
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

div.group {
  padding: 2px;
  margin: 20px;
  
  background-color: #FFFFFF20
}

/*.field > label {
    text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
} */



input:not([type=checkbox]), select, textarea, button.incDecButton {
  padding: 12px;
  /* border: 1px solid #e7e7e7; */
  border-radius: 16px;
  float: left;
  margin-top: 6px;
  text-align: left;
  width: 40%;
}

input.increment {
  width: 20%;
  pointer-events: none;
}

button.incDecButton {
  width: 10%;
  text-align: center;
}


label {
  padding: 12px;
  /* display: inline-block; */
  float: left;
  width: 60%;
  margin-top: 6px;
}

input[type=checkbox] {
  margin-top: 18px;
  width: 48px;
  height: 48px;
}

button[type=submit], .header {
  width: 100%;
  background-color: #f04b4c;
  color: #e7e7e7;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Clear floats after the columns */
.field:after {
  content: "";
  display: table;
  clear: both;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color:#e7e7e7;
  margin: auto;
  padding: 20px;
  width: 200%;
}




/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  label {
    width: 60%;
    margin-top: 0;
  }
  input:not([type=checkbox], [type=number]), select, textarea {
    width: 100%;
    /*margin: 0px 12px 0px 12px;*/
  }
}

.active, .header:hover, button[type=submit]:hover {
  background-color: #882a2a;
}

.content {
  padding: 0 2px;
  max-height: 0;
  color: #e7e7e7;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #e7e7e720;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: center;
}

.footer-content {
  padding: 14px 20px;
  font-size: 32px;
  width: 30%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f04b4c;
  color: #e7e7e7;
}
